@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.q1_box {
  width: 900px;
  background-color: #eff3f4;
  padding: 20px;
  margin: auto;
}

.q1_box_content {
  width: 230px;
  background-color: #3274ae;
  margin-left: 20px;
  padding: 20px;
  float: left;
}

.q1_box_content:first-child {
  margin-left: 0;
}

.q1_box_content_text {
	padding: 20px;
	background-color: #eaf4ff;
	border: solid 10px #022336;
}

/* 回答はここに書いてね */
