@charset "UTF-8";

/* 回答はここに書いてね */
.question7_text {
  width: 225px;
  font-size: 16px;
  box-sizing: border-box;
  margin-left: 50px;
}

.question7_text:first-child {
  margin-left: 0;
}

/*float*/
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.question7_float_inner_text {
  float: left;
}

/*table*/
.question7_table {
  display: table;
}

.question7_table_box {
  display: table-cell;
  vertical-align: middle;
  padding-left: 50px;
}

.question7_table_box:first-child {
  padding-left: 0;
}


/*inline-block*/
.question7_inlineblock {
  font-size: 0;
}

.question7_inlineblock_text {
  display: inline-block;
  vertical-align: middle;
}


/*flex*/
.question7_flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.question7_text_flex {
  margin-left: 0;
}


/*margin*/
.question7_margin {
  font-size: 0;
}

.question7_margin_box {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

.question7_margin_box_flexible {
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
  vertical-align: top;
}

.question7_margin_text {
  font-size: 16px;
} 

/* 回答はここに書いてね */
