@charset "UTF-8";

/* 回答はここに書いてね */
.question5 {
  width: 500px;
  height: 500px;
  background-color: #ecf1f2;
  margin: auto;
  position: relative;
}

.q5_container {
  position: absolute;
  width: 100px;
  font-weight: bold;
  font-size: 30px;
  line-height: 100px;
  text-align: center;
}

.box_01 {
  background-color: #ffefd3; 
  top: 40px;
  left: 200px;
  z-index: 1;
}

.box_02 {
  background-color: #7084de;
  top: 120px;
  left: 280px;
  z-index: 2;
}

.box_03 {
  background-color: #d0ecea;
  top: 200px;
  left: 360px;
  z-index: 3;
}

.box_04 {
  background-color: #8b7a5e;
  top: 280px;
  left: 280px;
  z-index: 4;
}

.box_05 {
  background-color: #9fd6d2; 
  top: 360px;
  left: 200px;
  z-index: 5;
}

.box_06 {
  background-color: #fffee4;
  top: 280px;
  left: 120px;
  z-index: 6;
}

.box_07 {
  background-color: #deae70;
  top: 200px;
  left: 40px;
  z-index: 7;
}

.box_08 {
  background-color: #de70cf;
  top: 120px;
  left: 120px;
  z-index: 8;
}

.box_08:after {
  width: 20px;
  height: 20px;
  background-color: #ffefd3;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
}

.box_09 {
  background-color: #2b69a3;
  position: fixed;
  top: 10px;
  left: 10px;
  }

/* 回答はここに書いてね */
